<!-- Interpolation is usedto collect the data from "type script"-->
<p>datablinding works!</p>
<h1>My age is {{age}}</h1>
<h1>My name is {{name}}</h1>
<h1>Is Indian: {{isIndian}}</h1>

<!-- Property Binding adding two inputs in input then only button works otherwise it not work-->
<button [disabled]="isInvalid">submit</button>
<!-- Event Binding -->
<button (click)="create()">create</button>
<input type="text" (keyup)="typing()">
<!-- Two Way Data Binding -->
<input type="text" [(ngModel)]="phone">


<!-- ======================== -->
 <h1>Calculator</h1>
 <br>
 <label for="">num1:</label>
 <input type="number" name="" id="" [(ngModel)]="num1">
 <br>
 <label for="">num2:</label>
 <input type="number" name="" id="" [(ngModel)]="num2">
 <br>
 <button [disabled]="!num1 || !num2"    (click)="sum()">sum</button>
 <h1>{{result}}</h1>