<div class="parent">
    <div class="left">
        <h1>MY APPS</h1>
        <hr>
        <h3 routerLink="home">Home</h3>
        
        <h3 routerLink="welcome">Welcome</h3>
        
        <h3 routerLink="datablinding" >Data Binding</h3>
        
        <h3 routerLink="calculator">Calculator</h3>
        
        <h3 routerLink="rectangle">Rectangle</h3>
        
        <h3 routerLink="circle">Circle</h3>
        
        <h3 routerLink="bmi">BMI</h3>
        
        <h3 routerLink="directives">Directives</h3>
        
        <h3 routerLink="event">Event Registration</h3>
        
        <h3 routerLink="emplyee"> Registration</h3>
         
        <h3 routerLink="employeee">Employee</h3>
        
        <h3 routerLink="store">Store</h3>
        
        <h3 routerLink="vehicle">Vehicle</h3>
        
        <h3 routerLink="account">Account</h3>
        
        <h3 routerLink="amazon">Amazon</h3>
        
        <h3 routerLink="mail">Mail</h3>
        
        <h3 routerLink="pin">Pinterest App</h3>
        
        <h3 routerLink="wheather">wheather</h3>
        
        <h3 routerLink="blog">Blog</h3>
        
        <h3 routerLink="imdb">IMDB</h3>
        <h3 routerLink="pokemon">Pokemon</h3>
        <h3 routerLink="create-vehicle">Create Vehicle</h3>
        <h3 routerLink="create-account">Create account</h3>
        <h3 routerLink="school">School</h3>
        <h3 routerLink="social">Social</h3>
        <h3 routerLink="create-user">Ctreate user</h3>






 
  

        <button routerLink="/login">logout</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
        
    </div>
</div>