.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.one{
    height: 45%;
    width: 24%;
    background-color: white;
    margin-bottom: 10px;
    padding-left: 50px;
    padding-top: 20px;
    position: relative;
    
}
img{
    height: 60%;
    width: 80%;
}
.rating{
    background-color: grey;
    width: 10%;
    position: absolute;
    bottom: 38%;
}
label{
    color: red;
}
p{
    color: rgb(17, 52, 193);
    font-weight: 700;
}