.master{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card{
    flex-direction: column;
    display: flex;
    width: 700px;
    align-items: center;
}
.one{
    height: 25%;
    width: 100%;
    
    background-color: red;
    /* flex-wrap: wrap; */
    display: flex;
    text-align: center;
    color: rgb(216, 196, 196);
    
}
.scname{
 
   height: 50%;
   width: 70%;

}
.addr{
    padding-left: 30px;
    padding-bottom: 5%;
}
.imga{
    height: 100%;
    width: 20%;
    

}
.two{
    height: 65%;
    width: 100%;
    display: flex;
    background-color: lightgreen;
    justify-content: space-between;
}
.three{
    justify-content: space-between;
    background-color: red;
    display: flex;
    align-items: center;
    width: 100%;
}
button{
    
}

.two2{
    /* margin-left: 200px; */
    width: 30%
}

.two1{
    padding: 10px;
    width: 70%;
}